<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <b>{{p.title}}</b>
      </button>
      
      <ion-item (click)="drop()">
          <b>Incidents Management</b>
      </ion-item>

      <button menuClose ion-item *ngIf="dropdown == true" (click)="open1();">Add Incident</button>
      <button menuClose ion-item *ngIf="dropdown == true" (click)="open2();">Incident Report</button>
      <button menuClose ion-item *ngIf="dropdown == true" (click)="open3();">Incident Chart</button>
      
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>